*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
ul { list-style: none; }
a { text-decoration: none; color: inherit; }
img { max-width: 100%; display: block; }
button, input, textarea { border: none; outline: none; background: none; font-family: inherit; }
html { scroll-behavior: smooth; height: 100%; }
body { min-height: 100%; display: flex; flex-direction: column; }